.outer-description {
    background-image: url('../../assets/Pictures/home-description-bg.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    text-align: center;
    padding-top: 35vh;
}

.description>.name {
    font-weight: bold;
    font-size: 40px;
}

.description>.role {
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
}

.button {
    margin-top: 10px;
    padding: 3px;
    cursor: pointer;
}

.button>button {
    padding: 8px;
    background-color: transparent;
    border-radius: 20px;
}

.button>button:hover {
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 86, 183, 1) 34%, rgba(0, 172, 255, 1) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.box img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}

.h4-title {
    height: 70px;
    border-bottom: 1px solid rgb(186, 186, 186);
    background-color: rgb(0, 140, 255);
    padding-top: 10px;
}
.p-description {
    margin-top: 5px;
    padding: 10px;
}
.link-box {
    border: none;
}
.link-h4-title {
    border: none;
    background-color: white;
}
.link-p-description {
    border: none;
    margin-top: 60px;
}